<mat-toolbar color="primary" *ngIf="logged">
    <mat-toolbar-row>
        <mat-icon class="icon-spacer">calendar_today</mat-icon>
        <span>{{appName}}</span>
        <span class="spacer"></span>
        <a mat-button routerLink="/home">
            <mat-icon>home</mat-icon> Home
        </a>
        <a mat-button routerLink="/car">
            <mat-icon>assignment_ind</mat-icon> Tasks
        </a>
        <button mat-icon-button>
            <mat-icon>power_settings_new</mat-icon>
        </button>        
    </mat-toolbar-row>
    <!-- <mat-toolbar-row>
    </mat-toolbar-row> -->
</mat-toolbar>
