<div class="main-div">  
    <mat-card>
        <mat-card-content>
            <form class="my-form">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeHolder="Email" name="email">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeHolder="Password" name="password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="right-align">
                <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>  